<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:ctx="http://www.springframework.org/schema/context"
    xmlns:sec="http://safr.sourceforge.net/schema/core"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://safr.sourceforge.net/schema/core http://safr.sourceforge.net/schema/core/spring-safr-core-1.0.xsd">

    <!--
        - load net.sourceforge.safr.core.integration.support.TestAccessManager from classpath
        - load net.sourceforge.safr.core.integration.support.TestCryptoManager from classpath
        - load net.sourceforge.safr.core.integration.sample.ServiceImpl from classpath
     -->
    <ctx:component-scan base-package="net.sourceforge.safr.core"/>

    <!-- 
        Supported attributes of <sec:annotation-driven /> are:
        - access-manager       default="accessManager"
        - crypto-manager       default=""
        - proxy-target-class   default="false"
        - interceptor-order    default="0"
        - support-aspectj      default="true"
     -->
    <sec:annotation-driven crypto-provider="cryptoProvider" />

</beans>