<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ctx="http://www.springframework.org/schema/context"
    xmlns:sec="http://safr.sourceforge.net/schema/core"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://safr.sourceforge.net/schema/core 
http://safr.sourceforge.net/schema/core/spring-safr-core-1.0.xsd">

    <ctx:component-scan base-package="net.sourceforge.safr.sample.hellosaf"/>

    <!-- 
        Supported attributes of <sec:annotation-driven /> are:
        - access-manager       default="accessManager"
        - crypto-provider      default=""
        - proxy-target-class   default="false"
        - interceptor-order    default="0"
        - support-aspectj      default="true"
     -->
    <sec:annotation-driven />

</beans>